body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          background-color: #258e96;
      }
      h2{
        text-align: center;
        color: #043468;
        
      }
      .container {
          width: 400px;
          padding: 20px;
          border-radius: 10px;
          background-color: white;
          box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
      }
      .form-group {
          margin-bottom: 15px;
      }
      .form-group label {
          display: block;
          margin-bottom: 5px;
          color: #011a35;
      }
      .form-group input {
          width: 100%;
          padding: 8px;
          border-radius: 10px;
          box-sizing: border-box;
          border-style: none;
          height: 40px;
          background-color: #bec5c76a;
          
      }
      button {
          width: 50%;
          padding: 10px;
          background-color: #258e96;
          color: white;
          border: none;
          cursor: pointer;
          border-radius: 7px;
          margin-bottom: 7px;
          margin-left: 25%;
          text-align: center;

      }
      button:hover {
          background-color: #33bdc7;;
         box-shadow: 5px 5px #7feef6;;
          transition: 1.2s ;
          width: 49%;
          
        

      }

      #role{
        background-color: #bcc3c587;
        border-style: none;
        height: 30px;
        width: 70px;
        border-radius: 7px;
      }
      #vote{
        color: rgb(55, 36, 36);
        background-color: wheat;
      }
      li {
        display: flex;
        justify-content: center;
        align-items: center;
    }